#weatherList,
#currentTime,
.saying,
.card-1 div p {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

#city {
    font-size: 40px;
}

#currentTime {
    color: #536162;
}
#currentTime,
#nextTemperatures {
    font-weight: bold;
}
#nextTemperatures {
    font-size: 24px;
    color: rgb(10, 10, 10);
}
#write-city {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

input {
    background-position: 10px, 10px;
    border-radius: 10px;
    padding: 5px 10px;
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#weatherList {
    list-style: none;
    font-size: 20px;
}

.card-3 i {
    font-size: 80px;
}
.card-1,
.card-2 {
    width: 22em;
    height: 16em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 0px auto 1em auto;
}
.card-1,
#nextDays,
.card-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 30px;
    padding-bottom: 30px;
}
.saying {
    line-height: 30px;
}
#temperature {
    font-size: 60px;
}

.search {
    transition: 200ms ease-in-out;
}
.search:hover {
    background-color: rgb(178, 202, 248);
}

.page {
    background-image: url(clouds.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    border-style: solid;
    margin-top: 20px;
}

.current {
    background-color: #a9d3da;
    margin-left: 20px;
}
#celsius-link #fahrenheit-link {
    position: relative;
    top: -34px;
}
#fahrenheit-link,
#celsius-link {
    text-decoration: none;
}
.temperature-description .active {
    color: black;
    cursor: default;
}
